body {
    font-family: 'Spartan', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg); 
    background-position:top left, bottom right;
    background-repeat: no-repeat;


}

main {
    width: 90vw;
    height: 85vh;
    /* border: 3px solid black;
    background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twocolumn {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid black;
    background-color: rgb(134, 95, 160); */
}

.leftside {
 width: 35vw;
 /* background-color: rgb(83, 12, 131); */
}

h1 {
    color: #511F50;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -1px;
}

p {
    margin-top: -23px;
    color: grey;
    font-size: 14px;
    line-height: 22px;
}

.rightside {
    width: 46vw;
    /* background-color: rgb(83, 12, 131); */
display: flex;
flex-direction: column;
align-items: flex-end;
   }



   .balk1, .balk2, .balk3 {
       font-weight: 600;
       width: 440px;
       height: 50px;
       background-color:#F7F2F8;
       margin-bottom: 20px;
       border-radius: 10px;
       display: flex;
       align-items: center;
       font-size: 13px;
       color: #511F50;
   }

   .balk1 img, .balk2 img, .balk3 img {
       margin-right: 9px;
   }

   .balk1 p, .balk2 p, .balk3 p {
    margin-left: 20px;
}

.balk1 {
    margin-right: 10vh;
    margin-top: 7.5vh;

}

.balk2 {
    margin-right: 5vh;
    
}

 /* .balk3 {
     margin-left: 10vh; */
    /* margin-right: 10vw;
    
}   */ 

.firststar {
    margin-left: 28px;
}

.textline {
    margin-left: 24px;
}

.attribution {
    font-size: 11px;
    text-align: center;

  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }


  /* .extraspace {
      height: 8vh;

  } */

  .threecolumn {
    /* border: 1px solid black; */
    width: 90vw;
    height: 39vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;

}

.balk {
    width: 25vw;
    height: 25vh;
    background-color: #511F50;;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
}

.balkie2 {
    margin-top: 5vh;
}

.balkie3 {
    margin-top: 10vh;
}

.upperbox {
    display: flex;
    margin-bottom: 5vh;
}

.leftbox img {
    border-radius: 50%;
    margin-right:2vw;
}

.rightbox {
    color: rgb(214, 214, 214);
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    
}

.rightbox  .name{
    color: #9e3e9d;
    font-size: 13px;
    font-weight: 400;
}

.lowerbox p{
    color: rgb(214, 214, 214);
}

.box2 {
    margin-top: 3vh;
}

.box3 {
    margin-top: 6vh;
}


@media (max-width: 1038px) {   
    h1 {
        font-size: 39px;
    }

    p {

        font-size: 13px;
    }

    .balk {
        width: 24vw;
        height: 24vh;
    }

}

@media (max-width: 928px) {   

    .balk1, .balk2, .balk3 {
        width: 400px;
    }

}


@media (max-width: 851px) {   

    body {

        background-image: url(./images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg); 
        background-position:top center, bottom center;
        background-repeat: no-repeat;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .twocolumn {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    p {
        margin-top: -10px;
    }
    
.leftside {
    width: 90vw;
    /* background-color: rgb(83, 12, 131); */
   }

    .rightside {
        width: 90vw;
    align-items: center;
       }


       .balk1, .balk2, .balk3 {
        width: 90vw;
        height: 50px;

    }

    .balk1 {
        margin-right: 0vh;
        margin-top: 3.5vh;
    
    }
    
    .balk2 {
        margin-right: 0vh;
        
    }

    .threecolumn {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .balk {
        width: 80vw;
        height: auto;
    }


    .balk1, .balk2, .balk3 {
height: 15vh;
display: flex;
flex-direction: column;
justify-content: center;

    }

    .rightbalk {
        margin-top: 10px;
    }
    
    .box3 {
        margin-top: 3vh;
    }





}